<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="__PROJECT_NAME__" android:icon="@drawable/Icon"/>
</manifest>
